<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        a{
        background-color: whitesmoke;
        color: black;
        border-radius: 5%;
        margin-left: 20px;
        padding: 1%;
        text-decoration: none;
    }
    a:hover{
        color: white;
        background: black;
    }
    </style>
</head>
<body>
    <h1>THANKS FOR SUBMITTING!</h1>
    <a href="http://127.0.0.1:5000/">Go Back</a>
</body>
</html>